#Module-3
##1. Apply Apriori Algorithm for market Basket Analysis.

Name : Gagana

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
from apyori import apriori

In [10]:
market_data = pd.read_csv("/content/market_data.csv", header=None)

In [11]:
market_data.head()

         0       1      2     3        4       5                 6           7
0  Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
1        2       3  12669  9656     7561     214              2674        1338
2        2       3   7057  9810     9568    1762              3293        1776
3        2       3   6353  8808     7684    2405              3516        7844
4        1       3  13265  1196     4221    6404               507        1788

In [12]:
market_data.shape

(441, 8)

In [15]:
records = []
for i in range(1, 441):
    records.append([str(market_data.values[i, j]) for j in range(0, 8)])

In [16]:
print(type(records))

<class 'list'>

In [17]:
association_rules = apriori(records, min_support=0.0050, min_confidence=0.30, min_lift=3, min_length=2)
association_results = list(association_rules)

In [18]:
print(f"There are {len(association_results)} Relation derived.")

There are 1 Relation derived.

In [19]:
for i in range(0, len(association_results)):
    print(association_results[i][0])

frozenset({'2', '3', '7677'})

In [20]:
for item in association_results:
    
    pair = item[0]
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])

    print("Support: " + str(item[1]))

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: 2 -> 3
Support: 0.006818181818181818
Confidence: 1.0
Lift: 4.150943396226415
=====================================